/*
 * 重写样式和全局默认样式
 */
/*
 * 项目主题样式定义的less文件
 */
.icon-primary:hover {
  color: #179afc;
}
.icon-action:hover {
  color: #b9e563;
}
.icon-highlight:hover {
  color: #fec04e;
}
.icon-caution:hover {
  color: #ff7680;
}
.icon-royal:hover {
  color: #a49ef0;
}
/**
 * 重写bootstrap的样式----开始
 */
.input-group-addon {
  border-radius: 0px;
}
.form-control {
  border-radius: 0px;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.pagination > li > a {
  padding: 8px 14px;
}
.pagination > li:first-child > a {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.pagination > li:last-child > a {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 0px;
  padding-right: 0px;
}
.modal-content {
  border-radius: 0px;
}
.modal-dialog {
  margin: 120px auto;
}
.modal-title {
  font-size: 16px;
  font-weight: 400;
}
.nav-tabs.nav-justified > li > a {
  border-radius: 0px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #179afc;
}
/**********************重写bootstrap end*******************************/
/**
*重写buttons样式----开始
*/
/************************重写button end*****************************/
/**
 * 常用样式封装----开始
 */
.tc {
  display: table-cell;
  vertical-align: top;
}
.none-a a {
  text-decoration: none;
  color: #8d8d8d;
}
.none-a a:hover {
  text-decoration: none;
  color: #8d8d8d;
}
.none-a a:linke {
  text-decoration: none;
  color: #8d8d8d;
}
.none-a a:active {
  text-decoration: none;
  color: #8d8d8d;
}
.none-a a:visited {
  text-decoration: none;
  color: #8d8d8d;
}
.transition {
  transition: height 1s, width 1s, box-shadow 1000ms, -moz-box-shadow 1000ms, -webkit-box-shadow 1000ms, color 500ms, border-color 1000ms, background-color 500ms, top 500ms, opacity 500ms;
  -webkit-transition: height 1s, width 1s, box-shadow 1000ms, -moz-box-shadow 1000ms, -webkit-box-shadow 1000ms, color 500ms, border-color 1000ms, background-color 500ms, top 500ms, opacity 500ms;
  -moz-transition: height 1s, width 1s, box-shadow 1000ms, -moz-box-shadow 1000ms, -webkit-box-shadow 1000ms, color 500ms, border-color 1000ms, background-color 500ms, top 500ms, opacity 500ms;
}
/**********************重写bootstrap end*******************************/
/**
 * 全局样式设定----开始
 */
table {
  table-layout: fixed;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body {
  background-color: #e7e8eb;
  font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", SimHei, tahoma, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #8d8d8d;
}
.form-input-box {
  padding-bottom: 5px;
}
.form-input-box .input-lable-box {
  text-align: right;
}
.form-input-box .input-lable-box .input-lable {
  padding: 6px 12px;
  display: block;
}
.form-input-box .input-msg-box {
  padding-top: 5px;
  min-height: 25px;
  color: #ff7680;
  display: block;
}
.form-input-box .input-msg-box .input-error-msg {
  margin-bottom: 0px;
  font-weight: 400;
}
.form-input-box .remove-lable-box .input-lable {
  padding: 6px 12px;
  display: block;
}
.form-input-box .error {
  border-color: #ff7680;
}
.modal-button {
  font-size: 14px;
  height: 34px;
  line-height: 34px;
}
/**********************全局样式设定 end*******************************/
